{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'AITA/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'AITA/css/basic.css' %}">
    {% block css-imports %}{% endblock %}
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>

</head>
<body>
{% block content %}{% endblock %}

<div id="jokus-pokus">
    <a href="{% url 'main:welcome' %}">
        <img src="{% static 'nimAI/img/favicon.png' %}" alt="">
    </a>
</div>

</body>
</html>